
body{
    background-color: #ffffff;
    color: #000000;
    height: 100%;
    margin: 0%;
    
}
.div2{
    background-color: #336600;
    font-size: 12px;
    width: 100%;
    height: 50px;
}
.div1{
    background-color: #669900;
    font-size: 12px;
    width: 100%;
    height: 80px;
    position: absolute;
    margin-top: 10%;
}
.div3{
    background-color: #f8f8f8;
    width: 25%;
    height: 40%;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 30px;
    border-color: #000000;
}
.div3 form input{
    background-color: #ffffff;
    border-radius: 4px;
    width: 200px;
    height: 25px;
    margin-left: 20px;
}
h1{
    position: relative;
    margin-left: 60px;
}
